/* 底部样式 */
footer {
    height: 80px;
    /* 设置底部高度为 80px*/
    line-height: 80px;
    /* 设置底部行高为 80px*/
    text-align: center;
    /* 设置文本居中对齐 */
    background-color: #f2f2f2;
    /* 设置底部背景颜色为浅灰色 */
    border-top: 1px solid #ccc;
    /* 设置顶部边框为 1px 灰色实线 */
}