/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    /* background-color: #ecf0f3; */
    color: #131516;
}

/* 定义 shell 类，用于设置页面的容器样式 */
.shell {
    margin: 30px;
    /* 设置内边距 */
    padding: 25px;
    /* 设置背景颜色 */
    background-color: #ecf0f3;
    /* 设置阴影效果 */
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    /* 设置圆角边框 */
    border-radius: 12px;
    /* 隐藏超出容器范围的内容 */
    overflow: hidden;
}


/* 头部样式 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    /* background-color: #f2f2f2; */
    border-bottom: 1px solid #ccc;
}

header a {
    /* 设置链接的颜色、字体大小和底部边框 */
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    line-height: 2;
}

.form_input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.logo-container img {
    height: 60px;
    /* 设置 logo 图片高度为 60px */
}

/* 商品样式 */

.info_box {

    margin: 30px;
    /* 设置内边距 */
    padding: 25px;
    /* 设置背景颜色 */
    background-image: url(../imgs/5.png); /* 替换为您自己的背景图片URL */
    background-size: cover; /* 设置背景图片的大小为填充 */
    background-position: center; /* 设置背景图片的位置居中 */
    background-repeat: no-repeat; /* 设置背景图片不重复 */
    /* 设置阴影效果 */
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    /* 设置圆角边框 */
    border-radius: 12px;
    /* 隐藏超出容器范围的内容 */
    overflow: hidden;
    display: flex;
    /* 使用 Flexbox 布局 */
    /* flex-wrap: wrap; */
    /* 当空间不足时，允许商品项换行 */
    justify-content: center;
    /* 商品项在水平方向上居中对齐 */
    padding: 40px;
    /* 设置外边距为 40px */
}

.info_box img {
    width: auto;
    /* 设置商品项宽度为 auot */
    margin: 20px;
    /* margin-left: 400px; */
    /* 设置商品项外边距为 20px */
    padding: 20px;
    /* 设置商品项内边距为 20px */
    border: 1px solid #ccc;
    /* 设置边框为 1px 灰色实线 */
    border-radius: 10px;
    /* 设置边框圆角为 10px */
    /* text-align: center; */
    /* 设置文本居中对齐 */
    /* background-color: #ecf0f3; */
    /* 设置阴影效果 */
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    /* 设置圆角边框 */
    background: rgba(255, 255, 255, 0.5);
    /* transform: translate(0, 120px); */
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 5px #000;
}

.info_title {
    width: 240px;
    /* 设置商品项宽度为 240px */
    margin-left: 120px;
    /* 设置商品项外边距为 20px */
    padding: 20px;
    /* 设置商品项内边距为 20px */
    border: 1px solid #ccc;
    /* 设置边框为 1px 灰色实线 */
    border-radius: 10px;
    /* 设置边框圆角为 10px */
    /* text-align: center; */
    /* 设置文本居中对齐 */
    /* background-color: #ecf0f3; */
    /* 设置阴影效果 */
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    /* 设置圆角边框 */
    background: rgba(255, 255, 255, 0.5);
    /* transform: translate(0, 120px); */
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 5px #000;
}

.info_title h2{
    margin-left: 10px;

    margin-bottom: 20px;
    /* 设置标题底部外边距为 10px */
    font-size: 20px;
    /* 设置标题字体大小为 20px */
}

.info_title p{
    margin-left: 10px;
    font-size: 16px;
    /* 设置标题字体大小为 20px */
    margin-bottom: 10px;
    /* 设置段落底部外边距为 10px */
}

.info_title span{
    margin-left: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    /* 设置价格字体大小为 24px */
    font-weight: bold;
    /* 设置价格字体加粗 */
    color: #f90;
    /* 设置价格文本颜色为浅橙色 */
}

.info_input{
    width: 100px;
    height: 30px;
    margin: 10px;
    margin-bottom: 20px;
    /* 设置标题底部外边距为 10px */
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.info_title button {
    display: block;
    /* 设置按钮为块级元素 */
    margin: 20px auto 0;
    /* 设置按钮上外边距为 20px，右外边距和下外边距为自动，左外边距为 0 */
    padding: 10px 20px;
    /* 设置按钮内边距为 10px 20px */
    border: none;
    /* 移除按钮边框 */
    border-radius: 5px;
    /* 设置按钮圆角为 5px */
    background-color: #f90;
    /* 设置按钮背景颜色为浅橙色 */
    color: #fff;
    /* 设置按钮文本颜色为白色 */
    font-size: 16px;
    /* 设置按钮字体大小为 16px */
    cursor: pointer;
    /* 设置鼠标悬停时显示手型指针 */
    transition: background-color 0.3s ease;
    /* 设置背景颜色过渡效果为 0.3s 缓动 */
}

.info_title button:hover {
    background-color: #ff6a00;
    /* 设置鼠标悬停时按钮背景颜色为橙色 */
}


/* 底部样式 */
footer {
    height: 80px;
    /* 设置底部高度为 80px*/
    line-height: 80px;
    /* 设置底部行高为 80px*/
    text-align: center;
    /* 设置文本居中对齐 */
    background-color: #f2f2f2;
    /* 设置底部背景颜色为浅灰色 */
    border-top: 1px solid #ccc;
    /* 设置顶部边框为 1px 灰色实线 */
}
